{% extends "base.html" %}

{% load stylize %}
{% load repositories %}

{% block extra_head %}
    <script src="/static/js/jquery-1.2.6.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/commit.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block title %}
    {{ repo.path|name }} : {{ commit|first_eight }}
{% endblock %}

{% block main_content %}
    <p id="commit" style="display: none;">{{ commit }}</p>
    {% if diffs %}
        {% for d in diffs %}
            <p>
                <span id="f{{ forloop.counter }}">{{ d.a_path }}</span>
                &nbsp;&nbsp;&nbsp;
                <a href="#" id="dl{{ forloop.counter }}" class="diff-link">diff</a> | 
                {% if not d.deleted_file %}
                    <a href="#" id="bl{{ forloop.counter }}" class="blob-link">blob</a>
                {% else %}
                    File deleted (no blob available)
                {% endif %}
            </p>
            <div id="d{{ forloop.counter }}" style="display: none;" class="diff">{% stylize 'diff' %}{{ d.diff|safe }}{% endstylize %}</div>
            <div id="b{{ forloop.counter }}" style="display: none;" class="blob"></div>
        {% endfor %}
    {% else %}
        <p>No diff information.</p>
    {% endif %}
{% endblock %}