{% extends "base.html" %}

{% load stylize %}
{% load repositories %}

{% block title %}
    {{ repo.path|name }} : {{ commit|first_eight }}
{% endblock %}

{% block main_content %}
    {% if diffs %}
        {% for d in diffs %}
            <p>{{ d.a_path }} &nbsp;&nbsp;&nbsp;<a href="#" onclick="$('#d{{ forloop.counter }}').toggle(); return false;">diff</a></p>
            <div id="d{{ forloop.counter }}">{% stylize 'diff' %}{{ d.diff|safe }}{% endstylize %}</div>
        {% endfor %}
    {% else %}
        <p>No diff information.</p>
    {% endif %}
{% endblock %}